@charset "utf-8";


html {
  max-height: 2000px;
	height: 2000px;
  	overflow-y: auto;
	overflow-x: hidden;
	background: #222222;
}
	
	#content {
		
	width: 100%;
  	height: 400px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
	text-align: center;
		
	}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  z-index: -1;
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

@keyframes animatedBackground {
	0% {color: red;}
	10% {color: orangered;}
	30% {color: yellow;}
	40% {color: yellowgreen;}
	50% {color: green;}
	60% {color: teal;}
	70% {color: blue;}
	80% {color: blueviolet;}
	90% {color: purple;}
	100% {color: black;}
}

	body, p, header, footer {
		font-family: 'Plaster', cursive;
	}

	header, footer {
		height: 50px;
	}
	
	#op a {
		font-family: 'Averia Serif Libre', cursive;
	}

.rain {
	position: fixed;
}


	.panel {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		padding: 10px;
		color: white;
		font-family: 'Averia Serif Libre', cursive;	
		display:none;
		font-size: .9rem;
	}

	
	.link {
		text-decoration: none;
		color: white;
	}

#Ben, #Carter, #Olcott {
	font-family: 'Plaster', cursive;
	cursor: pointer;
	font-size: 2.25rem;
	width: 40%;
	color: white;
	margin: 0 auto;
}

h1 {
	font-family: 'Plaster', cursive;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}

.hidden {
	display:none;
	opacity: 0;
	  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.dropC {
	font-size: 50px;
}

header, footer {
	height: 50px;
}

.category {
	font-family: 'Averia Serif Libre', cursive;
	font-size: .9rem;
	cursor: pointer;
	padding: 5px;
}

.category a:hover {
	cursor: pointer;
}

.back {
	text-align: center;
}

.prose {
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	max-width: 900px;
	margin: 0 auto;
}

.poetry {
	list-style: none;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	max-width: 900px;
	margin: 0 auto;
}

.textP {
	margin: 0 auto;
	color: white;
	background-color: #222222;
	padding: 2%;
	padding-left: 3%;
	padding-right: 3%;
	border: 1px solid white;
	display: none;
}

.textP p {
	font-family: 'Averia Serif Libre', cursive;
	font-size: .9rem;
	margin: 0 auto;
}

.filler {
	background-color: transparent;
	height: 20px;
}

.pausedFX {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

#pause {
	background-color: transparent;
	border: none; 
	font-size: 2.0rem;
	cursor: pointer;
	float: right;
	font-family: 'Plaster', cursive;
}

.poetryContent, .fictionContent, .criticismContent, .designContent, .goB {
	display: none;
}

.icon {
	padding: 2%;
	margin: 20 auto;
	display: inline-block;
	width: 25px;
}


.glitch {
  color: white;
  position: relative;
}

@keyframes noise-anim {
  0% {
    clip: rect(35px, 9999px, 38px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 58px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 16px, 0);
  }
  15% {
    clip: rect(49px, 9999px, 98px, 0);
  }
  20% {
    clip: rect(39px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(32px, 9999px, 43px, 0);
  }
  30% {
    clip: rect(100px, 9999px, 19px, 0);
  }
  35% {
    clip: rect(97px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(85px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 83px, 0);
  }
  55% {
    clip: rect(75px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(51px, 9999px, 36px, 0);
  }
  65% {
    clip: rect(63px, 9999px, 19px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(92px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(78px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(66px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(40px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 62px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(71px, 9999px, 14px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 24px, 0);
  }
  10% {
    clip: rect(37px, 9999px, 31px, 0);
  }
  15% {
    clip: rect(82px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(47px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(46px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(80px, 9999px, 3px, 0);
  }
  35% {
    clip: rect(63px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(88px, 9999px, 64px, 0);
  }
  45% {
    clip: rect(96px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(46px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(85px, 9999px, 84px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 87px, 0);
  }
  70% {
    clip: rect(31px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(10px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 8px, 0);
  }
  85% {
    clip: rect(96px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(80px, 9999px, 30px, 0);
  }
  100% {
    clip: rect(57px, 9999px, 99px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.on {
	display: block;
	transition: opacity 5s;
	opacity: 1.0;
	
}


.play-button {
  height: 30px;
  width: 30px;
  display: block;
  margin: 6px auto;
  overflow: hidden;
  position: relative;
	float: right;
}
.left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
.triangle-1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.triangle-2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
	z-index: 1;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.paused .left {
  width: 0%;
}
.paused .right {
  width: 0%;
}
.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.bk-btn {
  height: 52px;
  width: 52px;
  background-color: transparent;
  border-radius: 50%;
	float: left;
	
}
.bk-btn .bk-btn-triangle {
  position: relative;
  top: 13px;
  left: 10.4px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid white;
	cursor: pointer;
}
.bk-btn .bk-btn-bar {
  position: relative;
  background-color: white;
  height: 7.8px;
  width: 13px;
  top: -3.64px;
  left: 22.88px;
	cursor: pointer;
}



@media only screen and (max-width: 580px) {
	
	body {
		position: static;
	}
	
	.panel {
		width: 80%;
	}
	
	#Ben, #Carter, #Olcott {
		width: 80%;
	}
	
	.textP {
		border: none;
	}
	
	.icon {
		width: 8%;
	}
}


